<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Learning</title>
    <link rel="icon" type="imagem/png" href="/img/logo-parcial.png"/>
    <!-- estilo CSS -->
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    
    <!-- Header -->
    <header>
        <!-- Nav -->
            <nav class="header">
                <div class="general-header container">
                    <div class="logo">
                        <img src="/static/logo-parcial.png" alt="">
                        <h1>Movie Learning</h1>
                    </div>

                    <div class="main-header">

                        <ul class="header-list">
                            <li class="header-item">
                                <a href="index.html" class="header-link">Início</a>
                            </li>
                            <li class="header-item">
                                <a href="documentacao.html" class="header-link">Documentação</a>
                            </li>
                            <li class="header-item">
                                <a href="contato.html" class="header-link">Contatos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <!-- Main -->
    <main class="main">
        <div class="title">
            <h1>Contatos</h1>
        </div>
        <section class="sections">
            <div class="box-sections container-md">
                <div class="box">
                    <div>
                        <div class="text-box">
                            <h2>
                                Humberto Navarro
                            </h2>
                            <h3>
                                Engenharia de Computação
                            </h3>
                            <br>
                            <h3>Github: <a href="https://github.com/humbertonc">humbertonc</a></h3>
                        </div>
                    </div>
                    <img src="/static/humberto.jpg" alt="">
                </div>
                <div class="box">
                    <div>
                        <div class="text-box margin1">
                            <h2>
                                Tales Nobre
                            </h2>
                            <h3>
                                Ciência de Dados e IA
                            </h3>
                            <br>
                            <h3>Github: <a href="https://github.com/talesnobre">talesnobre</a></h3>
                        </div>
                    </div>
                    <img src="/static/tales.jpg" alt="">
                </div>
            </div>
            <div class="box-sections container-md">
                <div class="box">
                    <div>
                        <div class="text-box margin1">
                            <h2>
                                Daniel Santos
                            </h2>
                            <h3>
                                Ciência de Dados e IA
                            </h3>
                            <br>
                            <h3>Github: <a href="https://github.com/DanielSant0s">DanielSant0s</a></h3>
                        </div>
                    </div>
                    <img src="/static/daniel.jpg" alt="">
                </div>
                <div class="box">
                    <div>
                        <div class="text-box">
                            <h2>
                                Êmilly Eduarda
                            </h2>
                            <h3>
                                Engenharia de Computação
                            </h3>
                            <br>
                            <h3>Github: <a href="https://github.com/emillyedu">emillyedu</a></h3>
                        </div>
                    </div>
                    <img src="/static/emilly.JPG" alt="">
                </div>
            </div>
            <div class="box-sections container-md">
                <div class="box">
                    <div>
                        <div class="text-box">
                            <h2>
                                Gabriela Monteiro
                            </h2>
                            <h3>
                                Engenharia de Computação
                            </h3>
                            <br>
                            <h3>Github: <a href="https://github.com/gabrielagcam">gabrielagcam</a></h3>
                        </div>
                    </div>
                    <img src="/static/gabriela.jpg" alt="">
                </div>
                <div class="box">
                    <div>
                        <div class="text-box">
                            <h2>
                                Mauro Coimbra
                            </h2>
                            <h3>
                                Engenharia de Computação
                            </h3>
                            <br>
                            <h3>Github: <a href="https://github.com/maurocoimbra">maurocoimbra</a></h3>
                        </div>
                    </div>
                    <img src="/static/mauro.jpg" alt="">
                </div>
            </div>
            <div class="box-sections container-md">
                <div class="box">
                    <div>
                        <div class="text-box margin2">
                            <h2>
                                Túlio Neiva
                            </h2>
                            <h3>
                                Direito
                            </h3>
                            <br>
                            <h3>Github: <a href="https://github.com/tuliorneiva">tuliorneiva</a></h3>
                        </div>
                    </div>
                    <img src="/static/tulio.jpeg" alt="">
                </div>
                <div class="box">
                    <div>
                        <div class="text-box"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="section-footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-column">
                    <div class="icons">
                        <div class="icon">
                            <img src="/static/tail.JPG" alt="">
                        </div>
                        <div class="icon">
                            <img src="/static/logo-parcial.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="/static/aria.JPG" alt="">
                        </div>
                    </div>

                    <ul class="header-list">
                        <li>
                            <a href="index.html" class="header-link">Início</a>
                        </li>
                        <li>
                            <a href="documentacao.html" class="header-link">Documentação</a>
                        </li>
                        <li>
                            <a href="contato.html" class="header-link">Contatos</a>
                        </li>
                    </ul>

                    <h3>Movie Learning</h3>

                </div>

            </div>
        </div>
    </footer>

</body>
</html>