<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Learning</title>
    <link rel="icon" type="imagem/png" href="/static/logo-parcial.png"/>
    <!-- estilo CSS -->
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    
    <!-- Header -->
    <header>
        <!-- Nav -->
            <nav class="header">
                <div class="general-header container">
                    <div class="logo">
                        <img src="/static/logo-parcial.png" alt="">
                        <h1>Movie Learning</h1>
                    </div>

                    <div class="main-header">

                        <ul class="header-list">
                            <li class="header-item">
                                <a href="index.html" class="header-link">Início</a>
                            </li>
                            <li class="header-item">
                                <a href="documentacao.html" class="header-link">Documentação</a>
                            </li>
                            <li class="header-item">
                                <a href="contato.html" class="header-link">Contatos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <!-- Main -->
    <main class="main">
        <div class="title">
            <h1>Documentação</h1>
        </div>
        <section class="sections">
            <div class="container-md">
                <div class="text-doc">
                    <p class="texto-introducao">Lorem ipsum dolor sit voluptatum tempore ut perspiciatis similique omnis sequi quasi fuga. Esse, fugiat consectetur exercitationem aperiam reiciendis tempora quasi quibusdam nihil nostrum hic, neque atque reprehenderit qui non eos expedita dicta mollitia perspiciatis fuga sequi illum possimus. Optio, odit odio corporis obcaecati dolores itaque eius animi sed cumque sapiente placeat rerum ut labore harum</p>    
                    <div class="box-sections doc">
                        <div class="box-sinopse box-doc">
                            <div>
                                <div class="text-sinopse">
                                    <p class="texto-introducao">Lorem ipsum dolor sit voluptatum tempore ut perspiciatis similique omnis sequi quasi fuga. Esse, fugiat consectetur exercitationem aperiam reiciendis tempora quasi quibusdam nihil nostrum hic, neque atque reprehenderit qui non eos expedita dicta mollitia perspiciatis fuga sequi illum possimus. Optio, odit odio corporis obcaecati dolores itaque eius animi sed cumque sapiente placeat rerum ut labore harum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="title-doc">
                        <h1>titulo 1</h1>
                    </div>
                    <p class="texto-introducao">Lorem ipsum dolor sit voluptatum tempore ut perspiciatis similique omnis sequi quasi fuga. Esse, fugiat consectetur exercitationem aperiam reiciendis tempora quasi quibusdam nihil nostrum hic, neque atque reprehenderit qui non eos expedita dicta mollitia perspiciatis fuga sequi illum possimus. Optio, odit odio corporis obcaecati dolores itaque eius animi sed cumque sapiente placeat rerum ut labore harum</p>
                    <div class="box-sections doc">
                        <div class="box-sinopse box-doc">
                            <div>
                                <div class="text-sinopse">
                                    <p class="texto-introducao">Lorem ipsum dolor sit voluptatum tempore ut perspiciatis similique omnis sequi quasi fuga. Esse, fugiat consectetur exercitationem aperiam reiciendis tempora quasi quibusdam nihil nostrum hic, neque atque reprehenderit qui non eos expedita dicta mollitia perspiciatis fuga sequi illum possimus. Optio, odit odio corporis obcaecati dolores itaque eius animi sed cumque sapiente placeat rerum ut labore harum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="texto-introducao">Lorem ipsum dolor sit voluptatum tempore ut perspiciatis similique omnis sequi quasi fuga. Esse, fugiat consectetur exercitationem aperiam reiciendis tempora quasi quibusdam nihil nostrum hic, neque atque reprehenderit qui non eos expedita dicta mollitia perspiciatis fuga sequi illum possimus. Optio, odit odio corporis obcaecati dolores itaque eius animi sed cumque sapiente placeat rerum ut labore harum</p>
                    <div class="title-doc">
                        <h1>titulo 2</h1>
                    </div>
                    <p class="texto-introducao">Lorem ipsum dolor sit voluptatum tempore ut perspiciatis similique omnis sequi quasi fuga. Esse, fugiat consectetur exercitationem aperiam reiciendis tempora quasi quibusdam nihil nostrum hic, neque atque reprehenderit qui non eos expedita dicta mollitia perspiciatis fuga sequi illum possimus. Optio, odit odio corporis obcaecati dolores itaque eius animi sed cumque sapiente placeat rerum ut labore harum</p>
                    <p class="texto-introducao">dolor sit voluptatum tempore ut perspiciatis similique omnis sequi quasi fuga. Esse, fugiat consectetur exercitationem aperiam reiciendis tempora quasi quibusdam nihil nostrum hic, neque atque reprehenderit qui non eos expedita dicta mollitia perspiciatis fuga sequi illum possimus. Optio, odit odio corporis obcaecati dolores itaque eius animi sed cumque sapiente placeat rerum ut labore harum</p>
                </div>
                <div class="github text-box">
                    <h3>Acesse o Github do projeto: <a href="https://github.com/">movie-learning</a></h3>
                </div>
                
            </div>

        </section>
    </main>

    <!-- Footer -->
    <footer class="section-footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-column">
                    <div class="icons">
                        <div class="icon">
                            <img src="/static/tail.JPG" alt="">
                        </div>
                        <div class="icon">
                            <img src="/static/logo-parcial.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="/static/aria.JPG" alt="">
                        </div>
                    </div>

                    <ul class="header-list">
                        <li>
                            <a href="index.html" class="header-link">Início</a>
                        </li>
                        <li>
                            <a href="documentacao.html" class="header-link">Documentação</a>
                        </li>
                        <li>
                            <a href="contato.html" class="header-link">Contatos</a>
                        </li>
                    </ul>

                    <h3>Movie Learning</h3>

                </div>

            </div>
        </div>
    </footer>

</body>
</html>