<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Learning</title>
    <link rel="icon" type="imagem/png" href="/static/logo-parcial.png"/>
    <!-- estilo CSS -->
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    
    <!-- Header -->
    <header>
        <!-- Nav -->
            <nav class="header">
                <div class="general-header container">
                    <div class="logo">
                        <img src="/static/logo-parcial.png" alt="">
                        <h1>Movie Learning</h1>
                    </div>

                    <div class="main-header">

                        <ul class="header-list">
                            <li class="header-item">
                                <a href="index.html" class="header-link">Início</a>
                            </li>
                            <li class="header-item">
                                <a href="documentacao.html" class="header-link">Documentação</a>
                            </li>
                            <li class="header-item">
                                <a href="contato.html" class="header-link">Contatos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
    </header>

    <!-- Main -->
    <main class="main">
        <div class="title">
            <h1>Documentação</h1>
        </div>
        <section class="sections">
            <div class="container-md">
                <div class="text-doc">
                    <p class="texto-introducao">O Movie Learning é um projeto que utiliza uma inteligência artificial, capaz de gerar a história de um filme vencedor de Óscar. O programa consiste em um gerador de sinopses, de acordo com o título, gênero e o início da sinopse inseridos pelo usuário, sendo o último opcional. Para isso, foi utilizado o Processamento de Linguagem Natural (NLP), que consiste em uma área da IA, que desenvolve tecnologias capazes de entender a linguagem dos seres humanos, através de um banco de dados.</p>    
                    <div class="box-sections doc">
                        <div class="box-sinopse box-doc">
                            <div>
                                <div class="text-sinopse">
                                    <p class="texto-introducao">A biblioteca utilizada para a execução do projeto foi o GPT-2 simple, que consiste em um conjunto de pacotes que utilizam a rede neural, GPT-2 da OpenAI, para aplicar em novos textos e ser capaz de criá-los de forma muito semelhantes aos produzidos por humanos, varia de acordo com os dados fornecidos e com o treinamento utilizado.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="texto-introducao">Nesse caso, foi utilizado um banco de dados que contém reviews do site IMDB, e foram utilizados como parâmetros o título, o gênero e a sinopse de cada filme, para que o modelo pudesse criar uma relação entre eles. Com isso, o modelo é capaz de criar uma boa sinopse, ao serem inseridos o gênero e o título dos filmes desejados, além disso o usuário pode acrescentar o início da sinopse. </p>
                    <div class="box-sections doc">
                        <div class="box-sinopse box-doc">
                            <div>
                                <div class="text-sinopse">
                                    <p class="texto-introducao">Esta aplicação foi criada para fins didáticos, de forma a melhor compreender a criação e o funcionamento de uma inteligência artificial e do Processamento de Linguagem Natural.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="github text-box">
                    <h3>Acesse o Github do projeto: <a href="https://github.com/">movie-learning</a></h3>
                </div>
                
            </div>

        </section>
    </main>

    <!-- Footer -->
    <footer class="section-footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-column">
                    <div class="icons">
                        <div class="icon">
                            <img src="/static/tail.JPG" alt="">
                        </div>
                        <div class="icon">
                            <img src="/static/logo-parcial.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="/static/aria.JPG" alt="">
                        </div>
                    </div>

                    <ul class="header-list">
                        <li>
                            <a href="index.html" class="header-link">Início</a>
                        </li>
                        <li>
                            <a href="documentacao.html" class="header-link">Documentação</a>
                        </li>
                        <li>
                            <a href="contato.html" class="header-link">Contatos</a>
                        </li>
                    </ul>

                    <h3>Movie Learning</h3>

                </div>

            </div>
        </div>
    </footer>

</body>
</html>
